
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    
    @using (Html.BeginForm("Index", "Product", FormMethod.Post, new { enctype = "multipart/form-data" })) {

        @ViewBag.Error
        <table cellpadding="2" cellspacing="2">

            <tr>
                <td>XML File</td>
                <td><input type="file" name="xmlFile"/></td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Import"/></td>
            </tr>

        </table>

    }

</body>
</html>
